
.js-quote{
    text-align: justify;
    font-size: 1.1rem;
    

}

.js-teller{
    margin-top: 1rem;
    color: #f4f4ff;
    font-weight: 600;
    font-size: 1.2rem;
    border: 1px solid rgb(217, 205, 205);
}


